[mysqld]
datadir={{ .product.datadir }}
socket={{ .product.datadir }}/mysql.sock
port={{ .product.port }}
user={{ .product.user }}
pid_file={{ .product.pid }}

[mysql]
socket={{ .product.datadir }}/mysql.sock

[mysqladmin]
socket={{ .product.datadir }}/mysql.sock

[mysql.server]
basedir={{ .product.basedir }}

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d
